<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/style.css">
    <title>Weather App</title>
</head>
<body>
    <div id="container">
        <h1>Descubra o tempo da cidade</h1>
            <div id="userInput">
                <input type="text" id="cidade">
                <button id="btn">ENVIAR</button>
            </div>
            <div id="info">
                <p id="temperatura">Temperatura</p>
                <p id="umidade">Umidade</p>
            </div>
        </div>
    <script src="/javascript/script.js"></script>
</body>
</html>